@model OscaApp.Data.ContextPage
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <script type="text/javascript" src="//100widgets.com/js_data.php?id=200"></script>
        </div>
    </div>
    <br /> <br /> <br />
    <div class="row">
        <div style="background-color:darkgrey; width: 100%; height:20px"></div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-cog iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelOperacional"><p style="font-size:19.8px; margin:0;">Painel Operacional</p></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelFinanceiro"><h5>Painel Financeiro</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-life-ring iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelVendas"><h5>Painel Vendas</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-life-ring iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelServico"><h5>Painel Serviços</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>





