<div class="row">
    <div class="col-md-8 ">
        <h3> Painel de Parâmetros</h3>
    </div>
</div>

<!-- ROW -->
<div class="row">
    <div class="col-md-4">
        <!-- CARD -->
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-wrench iconPanel" aria-hidden="true"></i></td>
                        <td><a asp-controller="OrgConfig" asp-action="FormUpdateOrgConfig"><h4>Configuração de Sistema</h4></a></td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <p>configure sua Organização</p>
            </div>
        </div>
        <!-- CARD -->
    </div>
</div>
<!-- ROW -->
