<!-- END OF CONTAINER -->
<div class="container">
    <div class="row">
        <div class="col-md-8 ">
            <h3> Painel de Suporte</h3>
        </div>
    </div>
    <!-- ROW -->
    <div class="row">
        <div class="col-md-4">
            <!-- CARD -->
            <div class="card m-2">
                <div class="card-header">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-phone-square iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="Incidente" asp-action="GridIncidente"><h4>Chamados</h4></a></td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <p>Crie e consulte chamados em aberto e fechados</p>
                </div>
            </div>
            <!-- CARD -->
        </div>
        <div class="col-md-4">
            <!-- CARD -->
            <div class="card m-2">
                <div class="card-header">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-pie-chart iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="" asp-action=""><h4>Volumetria</h4></a></td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <p>Consulte a quantidade de registros dos principais cadastro da base</p>
                </div>
            </div>
            <!-- CARD -->
        </div>
        <div class="col-md-4">
            <!-- CARD -->
            <div class="card m-2">
                <div class="card-header">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-cloud-download iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="" asp-action=""><h4>Downloads</h4></a></td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <p>Tenha acesso rápido aos links de donwload dos aplicativos de suporte</p>
                </div>
            </div>
            <!-- CARD -->
        </div>
        <div class="col-md-4">
            <!-- CARD -->
            <div class="card m-2">
                <div class="card-header">
                    <table>
                        <tr>
                            <td> <i class="fa fa-2x fa-info-circle iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="LogOsca" asp-action="GridLogOsca"><h4>Logs</h4></a></td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <p>Consulte os logs de erros da sua organização para auxiliar no suporte</p>
                </div>
            </div>
            <!-- CARD -->
        </div>
        <div class="col-md-4">
            <!-- CARD -->
            <div class="card m-2">
                <div class="card-header">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-database iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="" asp-action=""><h4>Coleta de Dados</h4></a></td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <p>Colete informações da sua máquina para enviar para o suporte do OSCA</p>
                </div>
            </div>
            <!-- CARD -->
        </div>
        <div class="col-md-4">
            <!-- CARD -->
            <div class="card m-2">
                <div class="card-header">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-spinner iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="Suporte" asp-action="TesteVelocidade"><h4>Teste de Velocidade</h4></a></td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <p>Colete informações da sua velocidade de internet, você pode usar para indentificar lentidão no Aplicativo</p>
                </div>
            </div>
            <!-- CARD -->
        </div>
    </div>
    <!-- ROW -->
    <br /><br /><br />
    <!-- NAVIGATION BAR OPERACIONAL -->
    <div class="row" style="position:sticky;bottom:35px; padding:10px 0 0 0; background:#fff;">
        <div style="background-color:darkgrey; width: 100%; height:10px;"></div>

        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i></td>

                            <td><a asp-controller="Paineis" asp-action="PainelFinanceiro"><h6>Financeiro</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                <i class="fa fa-2x fa-handshake-o iconPanel" aria-hidden="true"></i>
                            </td>
                            <td>
                                <a asp-controller="Paineis" asp-action="PainelVendas"><h6>Vendas</h6></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-wrench iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="Paineis" asp-action="PainelServico"><h6>Serviços</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-cogs iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="Paineis" asp-action="PainelConfiguracoes"><h6>Configurações</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>