<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1> Painel Vendas</h1>
            <h5>Gerencie informações relevantes às vendas</h5>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-5">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-archive iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Pedido" asp-action="GridPedido"><h4>Pedido</h4></a>
                    <p> Crie novos pedidos e gerencie pedidos existentes.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-sort-amount-asc iconPanel" aria-hidden="true"></i>
                    <a href="#"><h4>Ordem de Serviço</h4></a>
                    <p> Crie e consulte ordens de serviço</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-user-circle  iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Cliente" asp-action="GridCliente"><h4>Cliente</h4></a>
                    <p>Consulte e cadastre novos Clientes</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-user-circle  iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Contato" asp-action="GridContato"><h4>Contato</h4></a>
                    <p>Consulte e cadastre novos Contatos</p>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-shopping-cart iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Produto" asp-action="GridProduto"><h4>Produtos</h4></a>
                    <p>Consulte e cadastre novos Produtos</p>
                </div>
            </div>
        </div>  
    </div>
    <div class="row" style="position:sticky; bottom:30px; padding:10px 0 0 0; background:#fff;">
        <div style="background-color:darkgrey; width: 100%; height:20px;"></div>
        <div class="col-md-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-cog iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelOperacional"><p style="font-size:19.8px; margin:0;">Operacional</p></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelFinanceiro"><h5>Financeiro</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-life-ring iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelVendas"><h5>Vendas</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-life-ring iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelServico"><h5>Serviços</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>


