@model OscaApp.ViewModels.PainelOperacionalViewModel

@{
    ViewData["Title"] = "Painel Operacional";
}
<div id="context">
    @Html.HiddenFor(m => m.contextPage.idUsuario)
    @Html.HiddenFor(m => m.contextPage.idOrganizacao)
    @Html.HiddenFor(m => m.contextPage.nomeUsuario)
    @Html.HiddenFor(m => m.contextPage.organizacao)
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 ">
            <table>
                <tr>
                    <td><h1> Painel Operacional</h1></td>               
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-user-circle  iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Cliente" asp-action="GridCliente"><h4>Cliente</h4></a>
                        </div>
                        <div class="card-body">
                            <p> Cadastre, consulte e edite clientes</p>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-address-book iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Contato" asp-action="GridContato"><h4>Contato</h4></a>
                        </div>
                        <div class="card-body">
                            <p> Cadastre, consulte e edite contatos</p>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-shopping-cart iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Produto" asp-action="GridProduto"><h4>Produtos</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Cadastre, consulte e edite produtos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">                 
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-archive iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Pedido" asp-action="FormCreatePedido"><h4>Pedido</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Cadastre, consulte e edite pedidos</p>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-calendar-times-o iconPanel" aria-hidden="true"></i>
                            <a href="#"><h4>Atendimento</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Cadastre, consulte e edite os atendimentos de sua empresa</p>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-sort-amount-desc iconPanel" aria-hidden="true"></i>
                            <a asp-controller="OrdemServico" asp-action="GridOrdemServico"><h4>Ordem de Serviço</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Cadastre, consulte e edite ordens de serviço</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">                 
                    <div class="card m-2">
                        <div class="card-header">                           
                                <i class="fa fa-2x fa-calendar iconPanel" aria-hidden="true"></i>
                                <a asp-controller="Calendario" asp-action="Mes"><h4>Calendário de Serviços</h4></a>
                            </div>
                            <div class="card-body">
                                <p>Cadastre, consulte e edite novos usuários em sua Organização</p>
                            </div>
                        </div>  
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-black-tie iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Recurso" asp-action="GridRecurso"><h4>Recursos</h4></a>
                            </div>
                        <div class="card-body">
                            <p>Cadastre, consulte e edite novos recursos, ferramentas, projetores, carros e outros</p>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-black-tie iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Profissional" asp-action="GridProfissional"><h4>Profissional</h4></a>
                            </div>
                        <div class="card-body">
                            <p>Consulte, altere e cadastre novos usuários na sua Organização</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="position:sticky;bottom:40px; padding:10px 0 0 0; background:#fff;">
        <div style="background-color:darkgrey; width: 100%; height:20px;"></div>
      
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelFinanceiro"><h5>Financeiro</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-life-ring iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelVendas"><h5>Vendas</h5></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-life-ring iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelServico"><h5>Serviços</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card m-2">
                <div class="card-body">
                    <i class="fa fa-2x fa-cog iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelConfiguracoes"><p style="font-size:19.8px; margin:0;">Configurações</p></a>
                </div>
            </div>
        </div>
    </div>   
</div>