@model OscaApp.Data.ContextPage
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3><i class="fa fa-smile-o fa-1x"></i> @Model.nomeUsuario seja bem vindo ao OSCA!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" id="comunicados">
        </div>
        <div class="col-md-3" id="atendimentos">
        </div>
        <div class="col-md-3" id="tarefas">
        </div>
        <div class="col-md-3" id="clientes">
        </div>
    </div>
    <div class="row" style="position:sticky;bottom:35px; padding:10px 0 0 0; background:#fff;">
        <div style="background-color:darkgrey; width: 100%; height:10px;"></div>

        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i></td>

                            <td><a asp-controller="Paineis" asp-action="PainelFinanceiro"><h6>Financeiro</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                <i class="fa fa-2x fa-handshake-o iconPanel" aria-hidden="true"></i>
                            </td>
                            <td>
                                <a asp-controller="Paineis" asp-action="PainelVendas"><h6>Vendas</h6></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-wrench iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="Paineis" asp-action="PainelServico"><h6>Serviços</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><i class="fa fa-2x fa-cogs iconPanel" aria-hidden="true"></i></td>
                            <td><a asp-controller="Paineis" asp-action="PainelConfiguracoes"><h6>Configurações</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    CarregaComunicados();
    function CarregaComunicados() {         
        $.ajax("/Comunicado/QuadroComunicadoResumido").done(function (data) {
            $("#comunicados").html(data);
        });
    }
</script>