<div class="row">
    <div class="col-md-8">
        <h3> Painel Operacional</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-users iconPanel" aria-hidden="true"></i></td>

                        <td><a asp-controller="Cliente" asp-action="FormCreateCliente"><h4>Criação de Cliente</h4></a></td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <p> Cadastre, consulte, edite, os clientes e registros associados da sua empresa</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-id-card-o iconPanel" aria-hidden="true"></i></td>
                        <td><a asp-controller="Contato" asp-action="FormCreateContato"><h4>Criação de Contato</h4></a></td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <p> Cadastre, consulte e edite contatos que se relacionam com sua empresa</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-cubes iconPanel" aria-hidden="true"></i></td>
                        <td>
                            <a asp-controller="Produto" asp-action="GridProduto"><h4>Consulta de Produtos</h4></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <p>Cadastre, consulte e edite produtos que são usados para emitir pedidos</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-file-powerpoint-o iconPanel" aria-hidden="true"></i></td>

                        <td><a asp-controller="Pedido" asp-action="FormCreatePedido"><h4>Criação de Pedido</h4></a></td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <p>Cadastre, consulte e edite pedidos de vendas da sua empresa de forma rápida</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-user-md iconPanel" aria-hidden="true"></i></td>

                        <td><a asp-controller="Atendimento" asp-action="FormCreateAtendimento"><h4>Criação de Atendimento</h4></a></td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <p>Cadastre, consulte e edite os atendimentos da sua empresa de forma rápida</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-file-text-o iconPanel" aria-hidden="true"></i></td>

                        <td>  <a asp-controller="OrdemServico" asp-action="FormCreateOrdemServico"><h4>Criação de Ordens de Serviço</h4></a></td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <p>Cadastre, consulte e edite ordens de serviço da sua empresa de forma rápida</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-calendar-check-o  iconPanel" aria-hidden="true"></i></td>

                        <td><a asp-controller="Agendamento" asp-action="GridAgendamento"><h4>Agendamentos</h4></a></td>
                    </tr>
                </table>

            </div>
            <div class="card-body">
                <p>Consulte os agendamentos de Serviço, Atendimento, Pedido ou OS para consulta no caledário de serviço</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-calendar iconPanel" aria-hidden="true"></i></td>

                        <td><a asp-controller="Calendario" asp-action="Mes"><h4>Calendário de Serviço</h4></a></td>
                    </tr>
                </table>

            </div>
            <div class="card-body">
                <p>Consulte os agendamento  referente aos Atendimentos, Pedido e Ordens de Serviço do Mês por Profissional </p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-header">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-file-archive-o iconPanel" aria-hidden="true"></i></td>
                        <td>
                            <a asp-controller="Atividade" asp-action="GridAtividade"><h4>Atividades</h4></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-body">
                <p>Cadastre, consulte e edite suas atividades e dos outros colaboradores da empresa</p>
            </div>
        </div>

    </div>
</div>
<br />
<br />

<div class="row" style="position:sticky;bottom:35px; padding:10px 0 0 0; background:#fff;">


    <div style="background-color:darkgrey; width: 100%; height:10px;"></div>

    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i></td>

                        <td><a asp-controller="Paineis" asp-action="PainelFinanceiro"><h6>Financeiro</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-handshake-o iconPanel" aria-hidden="true"></i>
                        </td>
                        <td>
                            <a asp-controller="Paineis" asp-action="PainelVendas"><h6>Vendas</h6></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-wrench iconPanel" aria-hidden="true"></i></td>
                        <td><a asp-controller="Paineis" asp-action="PainelServico"><h6>Serviços</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-cogs iconPanel" aria-hidden="true"></i></td>
                        <td><a asp-controller="Paineis" asp-action="PainelConfiguracoes"><h6>Configurações</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>