
<div class="container">
    <div class="row">
        <div class="col-md-8 ">
            <h1> Painel Global</h1>
            <h5> Acesse qualquer painel diretamente por aqui</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-home iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Paineis" asp-action="PainelHome"><h4>Painel Home</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Painel inicial do aplicativo, veja comunicados, cotação do dolar e outros</p>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-cog iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Paineis" asp-action="PainelOperacioal"><h4>Painel Operacional</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Painel com as principais atividades de vendas, serviço e configuração</p>
                        </div>
                    </div>

                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-life-ring iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Paineis" asp-action="PainelServico"><h4>Painel Serviços</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Painel para gerenciar e realizar os Serviços da sua Organização</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-handshake-o iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Paineis" asp-action="PainelVendas"><h4>Painel Vendas</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Painel para realizar o processo de vendas da sua Organização</p>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Paineis" asp-action="PainelFinanceiro"><h4>Painel Financeiro</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Painel para organizar as informações financeiras da sua empresa</p>
                        </div>
                    </div>

                    <div class="card m-2">
                        <div class="card-header">
                            <i class="fa fa-2x fa-table iconPanel" aria-hidden="true"></i>
                            <a asp-controller="Paineis" asp-action="PainelCadastro"><h4>Painel Cadastros</h4></a>
                        </div>
                        <div class="card-body">
                            <p>Painel para realizar o cadastro das informações que serão usadas em todo aplicativo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-2x fa-user-circle iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelGerenciamento"><h4>Painel Gerenciamento</h4></a>
                </div>
                <div class="card-body">
                    <p>Painel para consultar e alterar informações da sua Conta no aplicativo</p>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-2x fa-cogs iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelConfiguracoes"><h4>Painel Configurações</h4></a>
                </div>
                <div class="card-body">
                    <p>Painel para consultar e alterar as configurações do seu aplicativo.</p>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-2x fa-medkit iconPanel" aria-hidden="true"></i>
                    <a asp-controller="Paineis" asp-action="PainelSuporte"><h4>Painel Suporte</h4></a>
                </div>
                <div class="card-body">
                    <p>Painel para realizar o processo de suporte da sua Organização</p>
                </div>
            </div>

        </div>
    </div>
</div>



