@model OscaApp.ViewModels.BalcaoVendasViewModel
@{
    Layout = "_LayoutImpressao";
}
<div class="conteudo">
    <div class="text-center"><h2>nome empresa</h2></div>
    <p>endereço</p>
    <p>12345-6789</p>
    <p>nº cupom</p>
    <p>data</p>
    <p class="text-center">----------------------------------------------</p>
    <p class="text-center">----------------------------------------------</p>
</div>