<!DOCTYPE html>
<html>
<head>

    <meta lang="pt-br" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OSCAS Serviços Online</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/jquery-number/jquery.number.min.js"></script>


    <script src="~/lib/jquery.maskMoney/src/jquery.maskMoney.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/OscaJs/osc_global.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/OscaCss/style.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />


    <style>


        .barraMain {
            background: linear-gradient(to right bottom,#66dbff, #1c177f);
            height: 40px;
            color: black;
            padding-top: 5px;
        }
    
        .footer {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            background: linear-gradient(to right bottom, #1c177f,#66dbff);
        }

        .centro {
            margin-left: auto;
            margin-right: auto
        }

        .fontPainel {
            font-weight: bold
        }

        .osca {
            margin-top: -3px;
            float: left;
            margin-left: 10px;
            font-weight: bold;
            font-size: 30px;
            color: white;
        }

            .osca:hover, .osca:focus, .osca:active {
                color: aliceblue;
                text-decoration: none;
            }
    </style>

</head>
<body>
    <div id="barra_main" class="col-md-12 barraMain sticky-top">
        <a asp-controller="Paineis" asp-action="PainelHome" class="osca"><i class="fa fa-1x fa-home" aria-hidden="true"></i> @await Component.InvokeAsync("Footer")</a>
        <div style="float:right;">@await Html.PartialAsync("_LoginPartial") </div>
    </div>
    <div class="container-fluid" style="margin-bottom:5px;">
        <div class="mb-3"></div>
        @RenderBody()
    </div>
    <!-- Modal About-->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="sobreModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title " id="exampleModalLongTitle" style="color:white;font-weight:bold">Sobre</h5>
                </div>
                <div class="modal-body">
                    <center><h3>OSCAS® Serviços Online</h3></center>
                    <br /><br /><br />
                    <h6>Desenvolvido por - Trine Assessoria em Informática</h6>
                    <br />
                    <p>OSCA APP</p>
                    <p>Versão 1.2.0</p>
                    <p> Para obter mais informações, visite www.oscas.com.br.</p>
                    <br />
                    <p>Aviso: este programa de computador é protegido pela lei de copyright e tratados internacionais. A reprodução ou distribuição não autorizada deste programa, ou qualquer parte dele, resultará na imposição de rigorosas penas civis e criminais e será objeto de ação judicial promovida na máxima extensão possível, nos termos da lei.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    @*@RenderSection("scripts", required: false)*@
    @*@{Html.RenderPartial("~/Views/Shared/Components/Mensagem/_Mensagem.cshtml");}*@

    <div class="footer">
        <footer>
            <div class="row" id="barraNavegacao">
               
                <div class="col-sm-3">
                    <div class="card m-1">
                        <div class="card-body centro">
                            <table>
                                <tr>
                                    <td><i class="fa fa-2x fa-money"></i></td>
                                    <td><a href="/Paineis/PainelFinanceiro"><h4 class="fontPainel">Financeiro</h4></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card m-1">
                        <div class="card-body centro">
                            <table>
                                <tr>
                                    <td><i class="fa fa-2x fa-handshake-o"></i></td>
                                    <td><a href="/Paineis/PainelVendas"><h4 class="fontPainel">Vendas</h4></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card m-1">
                        <div class="card-body centro">
                            <table>
                                <tr>
                                    <td><i class="fa fa-2x fa-wrench"></i></td>
                                    <td><a href="/Paineis/PainelServico"><h4 class="fontPainel">Serviços</h4></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card m-1">
                        <div class="card-body centro">
                            <table>
                                <tr>
                                    <td><i class="fa fa-2x fa-cog"></i></td>
                                    <td><a href="/Paineis/PainelConfiguracoes"><h4 class="fontPainel">Configurações</h4></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>       
        </footer>
    </div>
</body>
</html>