<!DOCTYPE html>
<html>
<head>   
    <meta lang="pt-br" />    
    <title></title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />    
</head>
<body>   
    <div class="container-fluid body-content">
        <br />
        @RenderBody()
    </div>
 
   
</body>
</html>
