@model X.PagedList.PagedList<OscaApp.ViewModels.GridViewModels.AtendimentoGridViewModel>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using OscaFramework.Helper;
@{
    Layout = "_LayoutFrame";
}

<div class="card" id="osc_Grid">
    <div class="card-header">
        <div class="card-title">
            <center><h5 style="font-weight:bold"> Atendimentos</h5></center>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table table-hover   table-bordered table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Data</th>

                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr style="cursor:pointer;" id="@item.atendimento.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.atendimento.id })'">
                        <td><i class="fa fa-calendar-times-o"></i></td>
                        <td style="font-size:12px;font-weight:bold">@Html.ActionLink(item.atendimento.codigo.ToString(), "FormUpdateAtendimento", new { id = item.atendimento.id })</td>

                        <td style="font-size:12px;font-weight:bold">@item.atendimento.dataAgendada.ToShortDateString()</td>

                    </tr>
                }
            </table>
            <div>
                <table>
                    <tr>
                        <td> Total:@Model.TotalItemCount </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


