 @model OscaFramework.Log.CustomError

<h1> Informações: Falha ao gerar contexto da Organização, por favor contate o suporte!</h1>
<br />
<h1>Falha no contexto:@Model.entityName </h1>
<h1>ID:@Model.id </h1>
<h1>Códido:@Model.codigo</h1>
<br />
<div style="background-color:crimson">
<text>@Model.mensagem </text>
</div>

