@model OscaApp.Models.Calendario

@{
    Layout = "_LayoutFrame";
}

<div id="barrafiltro">

</div>
<table id="calendario" class="table table-bordered  ">
    <tr id="semana_1" style="height:100px ">
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_2" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_2" style="background-color:grey; color:white">
                    <td colspan="3"> 2 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_3" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_3" style="background-color:grey; color:white">
                    <td colspan="3"> 3 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_4" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_4" style="background-color:grey; color:white">
                    <td colspan="3"> 4 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_5" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_5" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_6" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_6" style="background-color:grey; color:white">
                    <td colspan="3"> 6 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_7" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_7" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr id="semana_2"style="height:100px">
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr id="semana_3"style="height:100px">
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_1" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 1 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>       
       </tr>
    <tr id="semana_4"style="height:100px">
        <td id="dia_29" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 29 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_30" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 30 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td id="dia_31" style="width:100px">
            <table style="font-size:10px">
                <tr id="cabecalho_1" style="background-color:grey; color:white">
                    <td colspan="3"> 31 - Segunda Feira</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>10:00</td>
                                <td>12:00</td>
                                <td>Apometria</td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>