@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>  - OSCAS Serviços Online</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
 


    <style>
        .barraMain {
            background: linear-gradient(to right bottom,#66dbff, #1c177f);
            height: 50px;
            color: black;
            padding-top: 5px;
        }

        .footer {
            background: linear-gradient(to right bottom, #1c177f,#66dbff);
            height: 30px;
        }

        .osca {
            margin-top: -3px;
            float: left;
            margin-left: 10px;
            font-weight: bold;
            font-size: 30px;
            color: white;
        }

            .osca:hover, .osca:focus, .osca:active {
                color: aliceblue;
                text-decoration: none;
            }

            a {
                text-decoration: none !important;
            }
            .fa-facebook-official{
                color:#1a13ad;
            }
            .fa-youtube{
                color:#ff0000;
            }
        .alert-warning {
            box-shadow: 6px 7px 7px -3px rgba(150,150,150,1);
        }
        .alert-personalized {
            color: black;
            background: #f7f7f7;
            box-shadow: 6px 7px 7px -3px rgba(150,150,150,1);
        }
    </style>
</head>
<body>
    <div class="barraMain navbar-fixed-top">
        <div class="container">
            <div class="text-left"> </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <center> <h2 style="font-weight:bold">Seja bem vindo!</h2></center>
            </div><br />
            <div class="row">
                <div class="col-md-5">
                    <section>
                        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="empresa" class="col-md-3 control-label">Empresa</label>
                                <div class="col-md-10">
                                    <input asp-for="empresa" class="form-control" />
                                    <span asp-validation-for="empresa" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="col-md-3 control-label">E-mail</label>
                                <div class="col-md-10">
                                    <span asp-validation-for="Email" class="text-danger "></span>
                                    <input asp-for="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-md-3 control-label">Senha</label>
                                <div class="col-md-10">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-7">
                                    <button type="submit" class="btn btn-primary btn-lg" style="width:150px">Entrar</button>
                                </div>
                            </div>
                            <p>
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">&nbsp;&nbsp; Ativar nova Empresa?</a>
                            </p>
                            <p>
                                <label>Esqueceu sua senha? contate o suporte.</label><br />
                                <label style="font-weight:bold">E-mail:suporte@oscas.com.br</label>
                            </p>
                        </form>
                    </section>
                </div>
                <div class="col-md-4 offset-2">
                    <section class="alert alert-warning text-justify">
                        <h5>Próximas manutenções!</h5>
                        <div>
                            <ul>                               
                                <li>05 de Maio de 2018  as 19:00</li>
                                <li>02 de Junho de 2018 as 19:00</li>
                            </ul>
                        </div>
                    </section>
                    <section class="alert alert-personalized text-justify">
                        <h5>Melhorias para 7 de Maio</h5>
                        <ul>
                            <li>Integração com os Correios</li>
                            <li>Alerta via SMS</li>
                            <li>Novos Relatórios</li>

                        </ul>
                    </section>
                    <section class="alert alert-personalized text-justify">
                        <h5><a href="http://intranet.oscas.com.br/index.php/help">Portal do Cliente</a></h5>
                        <ul>
                            <li>Treinamento em Vídeo</li>
                            <li>FAQ</li>
                            <li>Documentação</li>
                        </ul>
                    </section>
                    <section class="alert alert-personalized text-justify">
                        <h5>Redes sociais</h5>                   
                            <p>Site: <a href="http://www.oscas.com.br" target="_blank">www.oscas.com.br</a></p>
                            <div class="col-md-6 offset-md-4">
                                <a href="https://www.youtube.com/channel/UCanh_FSlWdpoaxTrLiKoYKw" target="_blank" class="lin"><i class="fa fa-2x fa-youtube"></i></a>
                                &nbsp;&nbsp;
                                <a href="https://www.facebook.com/OscasServicosOnline/" target="_blank"><i class="fa fa-2x fa-facebook-official"></i></a>
                            </div>
                    </section>
                </div>
                </div>
        </div>
    </div><br />
          <footer class="footer fixed-bottom">
              <div style="color:#fff; text-align:center;">
                  <h6><i class="fa fa-home fa-1x"></i>&nbsp;OSCAS SERVIÇOS ONLINE 2018</h6>
              </div>
          </footer>
</body>
</html>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
