@model RegisterViewModel 
 
    <div class="container-fluid">
        <div class="card col-8 offset-2">
            <div class="card-header">              
                <h4 class="text-center">Formulário de Cadastro de Usuário</h4>
            </div>
            <br />
            @if (Model != null && Model.msgOrganizacao != null)
            {
                <h4 class="bg-warning text-center">@Model.msgOrganizacao</h4>
            }
            <div class="card-body">
                <div class="col-8">
                    <form asp-controller="Account" asp-action="RegisterUser" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <input asp-for="@Model.idOrganizacao" value="@Model.idOrganizacao" type="hidden" />
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label  class="col-md-4 control-label">Nome</label>
                            <div class="col-md-6">
                                <input asp-for="NomeAmigavel" class="form-control" required="required"/>                              
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-4 control-label">E-mail</label>
                            <div class="col-md-6">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-4 control-label">Senha</label>
                            <div class="col-md-6">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-md-4 control-label">Confirmar senha</label>
                            <div class="col-md-6">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="  col-md-4">
                                <button type="submit" class="btn btn-default">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>            
        </div>
    </div>

 
