
@{
    Layout = "_LayoutFrame";
}


<div class="card " id="osc_MainForm">
    <div class="card-header">
        <div class="card-title">
            <table>
                <tr>
                    <td><h3 class="fa fa-2x fa-money">Resumo Financeiro Diário</h3></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-body">
        <table class="table">         
            <tbody>
                <tr>
                    <td>Total Vendas do Dia R$</td>
                    
                    <td><input id="valorDiario" type="text" style="width:120px; height:30px; font-weight:bold; background-color:aquamarine" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>Total a Receber hoje R$</td>
                    <td><input id="valorEmAberto" type="text" style="width:120px; height:30px; font-weight:bold; background-color:aquamarine" disabled="disabled" /></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="~/lib/OscaJs/osc_servicesWeb.js"></script>
<script>
    ValorDiario();
    ValorEmAberto();
</script>