
@{
    Layout = "_LayoutFrame";
}


<div class="card " id="osc_MainForm" style="width:450px">
    <div class="card-header" style="height:60px">
        <div class="card-title">
            <table>
                <tr>
                    <td><h3 class="fa fa-2x fa-money"> Resumo Financeiro</h3></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Total Vendas do Dia</td>

                    <td><input id="valorDiario" type="text" style="width:120px; height:30px; font-weight:bold; background-color:aquamarine" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>Entrada Dinheiro hoje</td>

                    <td><input id="valorDiarioDinheiro" type="text" style="width:120px; height:30px; font-weight:bold; background-color:aquamarine" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>Total a Receber hoje</td>
                    <td><input id="valorEmAberto" type="text" style="width:120px; height:30px; font-weight:bold; background-color:aquamarine" disabled="disabled" /></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="~/lib/OscaJs/osc_servicesWeb.js"></script>
<script src="~/lib/OscaJs/osc_global.js"></script>

<script>
    ValorDiario();
    ValorEmAberto();
    ValorDiarioDinheiro();


</script>