@{
    Layout = "_LayoutPrint";
}
<div class="row">
    <div id="MainPrint">
        <iframe class="embed-responsive-item" src="@Model.url" height="1280px" width="100%"></iframe>
    </div>
</div>
<br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
