@model X.PagedList.PagedList<OscaFramework.Models.Servico>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@

@{
    Layout = "_LayoutFrame";
}


<script type="text/javascript">

    //Função para tratamento do Lookup padrão do Cliente
    function ConfigLookup(id, name) {
    
        $("#osc_IdNameUsuario").val(name);
        $("#osc_IdUsuario").val(id);
        
    }
    function CarregaGrid() {
        $("#grid").val(""); 

        $.ajax("/Usuario/GridLookupUsuario").done(function (data) {
            $("#GridUsuario").html(data);
        });
    }
    function CarregaGridFiltro() {

        var filtro = $("#grid").val();

        $.ajax("/Usuario/GridLookupUsuario?filtro=" + filtro).done(function (data) {
            $("#GridUsuario").html(data);
        });

    } 
</script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">    
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="card" id="osc_Lookup">
                    <div class="card-header">                       
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td>
                                        <h5 style="font-weight:bold">Lista de Usuarios: &nbsp;&nbsp;</h5>
                                    </td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-group  col-md-5">
                                                <div class="input-group">
                                                    @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                                    <span class="input-group-btn ">
                                                        <button type="button" class="btn  btn-info" onclick="CarregaGridFiltro();">
                                                            <span class="fa fa-search"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <button id="osc_recarregar" type="button" class="btn btn-info btn-lg  fa fa-remove" value="Limpar" onclick="CarregaGrid()"> <span>Limpar</span></button>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="osc_valorLookup" required="required" value="" hidden="hidden"> </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-body">
                            <div id="GridUsuario">

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    CarregaGrid();
</script>