@model X.PagedList.PagedList<OscaFramework.Models.Contato>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{
    Layout = "_LayoutFrame";
}
<script type="text/javascript">

    function ConfigLookup(id, name) {

        //debugger;
        var idObjeto = document.getElementById("osc_ContatoId");
        var idName = document.getElementById("osc_IdContatoName");
        idObjeto.value = id;
        idName.value = name;
        $('.close').click();
    }
    function CarregaGrid() {
        $("#grid").val("");

        $.ajax("/Contato/GridLookupContato").done(function (data) {
            $("#GridContato").html(data);
        });
    }
    function CarregaGridFiltro() {

        var filtro = $("#grid").val();

        $.ajax("/Contato/GridLookupContato?filtro=" + filtro).done(function (data) {
            $("#GridContato").html(data);
        });

    }
    function CarregaGridPagina(page) {

       // var filtro = $("#grid").val();

        $.ajax("/Contato/GridLookupContato?page=" + page).done(function (data) {
            $("#GridContato").html(data);
        });

    }


</script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal-body">
            <form>

                <div class="card" id="osc_Grid">
                    <div class="card-header">
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td>
                                        <h5 style="font-weight:bold">Lista de Contatos: &nbsp;&nbsp;</h5>
                                    </td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="form-group  col-md-7">
                                                <div class="input-group">
                                                    @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid", onkeydown = " CarregaGridFiltro();" })
                                                    <span class="input-group-btn ">
                                                        <button type="button" class="btn  btn-info" onclick="CarregaGridFiltro();">
                                                            <span class="fa fa-search"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <button id="osc_recarregar" type="button" class="btn btn-info btn-lg  fa fa-remove" value="Limpar" onclick="CarregaGrid()"> <span>Limpar</span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="osc_valorLookup" required="required" value="" hidden="hidden"> </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-body">
                            <div id="GridContato">

                            </div>
                            <div id="paginacao">
                                <table >
                                    <tr>
                                        <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridLookupContato", "Contato", new { page })) <span>Total de Contatos:@Model.TotalItemCount  </span></td>
                                       
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    CarregaGrid();

    $('#paginacao').on('click', 'a', function (e) {        

            e.preventDefault();  
            CarregaGridPagina(this.text);      
       
    }); 
</script>